{% load static %}

<!--PIE DE LA PAGINA--> 
<footer>
  <div class="main-content">
      <div class="left box">
          <h2>Menu</h2>
              <div class="content">
                  <div class="menuFooter">
                      <a href="index.html">Inicio</a>
                      <br>
                      <a href="">Los má vendidos </a>
                      <br>
                      <a href="">Ofertas</a>
                      <br>
                      <a href="">Generos</a>
                      <br>
                      <a href="nosotros.html">Quienes somos</a>
                      <br>
                      <a href="contacto.html">Contacto</a>
                      <br>
                      
                    
                  </div>
              </div>

      </div>

      <div class="center box">
          <h2>Sobre nosotros</h2>
              <div class="content">
                  <p>Somos un grupo de estudiantes de Duoc UC, los cuales realizamos esta página en base a un proyecto web el cual mantendremos actualizado constantemente con informacion y mejoras para nuestra pagina , Spearow les guste muchisimo </p>
                  <p>Nos pueden ubicar en las siguientes redes sociales:</p>
                  <div class="social">
                      <a href="#"><span class="fab fa-facebook-f"></span></a>
                      <a href="#"><span class="fab fa-twitter"></span></a>
                      <a href="#"><span class="fab fa-instagram"></span></a>
                      <a href="#"><span class="fab fa-youtube"></span></a>
                  </div>
              </div>
      </div>

      <div class="rigth box">
          <h2>Dirección</h2>
          <div class="content">
              <div class="place">
                  <span class="fas fa-map-marker-alt">Antonio Varas 666,Providencia</span>
              </div>
              <br>
              <div class="phone">
                      <span class="fas fa-phone-alt">+56957115637</span>
              </div>
              <br>
              <div class="email">
                      <span class="fas fa-envelope">Cristobalramirez933@gmail.com</span>
              </div>        
          </div>
      </div>
  </div>
</footer>