{% extends "./index.html" %}
{% load static %}

{% block footer %}
    <footer>
        <div class="row center-xs">
          <div class="col-xs-12">
            <p>Menú principal</p>
            <a  href="index.html">Inicio</a> <br>
            <a href="https://www.google.com">Los más vendidos</a> <br>
            <a href="https://www.google.com">Ofertas</a> <br>
            <a href="https://www.google.com">Generos</a> <br>
            <a href="https://www.google.com">Quienes somos</a> <br>
            <a  href="contacto.html">Contacto</a> 
          </div>
        </div>
      </footer>
    {% endblock %}