{% extends "./index.html" %}
{% load static %}

{% block header %}
<!-- Logo, sección nav superior, y barra de busqueda-->
    <header id="banner"> 

        <div class="row middle-xs">
        <div class="col-xs-3"> <!--Logo de la página-->
            <a href="index">
            <img id="logo" src="{% static 'img/logo2.png' %}">
            </a>
        </div>
        
        <div class="col-xs-5"> <!--Barra de busqueda-->
            <div id="buscarLibro">
                <input type="text" id="txt_busqueda" placeholder="Busqueda de libros...">
                <button type="submit" onclick="buscar()"> Buscar </button>
            </div>
        </div>

        <!-- Iconos para acceder al carrito de compras y a iniciar sesión-->
        <div class="col-xs-4" id="usuario_carrito">
            <img id="usuario" onclick="miUsuario()" src= "{% static 'img/Usuario.png' %}">
            <img id="carro_compra" src="{% static 'img/shopping-cart.png' %}"> 
        </div>
        </div>

        <div id="modal_usuario">
        <span class="cerrar" onclick="cerrarModal()">&times;</span>
        <p>Nombre de usuario</p>
        <input id="username" type="text">
        <p>Contraseña</p>
        <input id="password" type="password">
        <button onclick="logIn()">Iniciar Sesión</button>
        <a href="">Soy un usuario nuevo</a> <br>
        <a href="">Olvide mi contraseña</a>
        
        </div>

        <!-- Menu de Navegación -->
        <input type="checkbox" id="btn_menu">
        <label for="btn_menu"><img src="{% static 'img/icono_menu' %}" height="35vh" width="35vw"></label>
        <nav>
            <ul>
            <li>
                <a  href="index">Inicio</a>
            </li>
            <li>
                <a href="">Los más vendidos</a>
            </li>
            <li>
                <a  href="">Ofertas</a>
            </li>
            <li>
                <a  href="">Géneros</a>
            </li>
            <li>
                <a  href="nosotros">Quienes somos</a>
            </li>
            <li>
                <a  href="contacto">Contacto</a>
            </li>
            </ul>
            
        </nav>

</header>
{% endblock %}

    